body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #eee;
  width: 100vw;
  overflow-x: hidden;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100vw;
  font-family: 'Poppins', Sans-Serif;
  height: clamp(20px,7vh, 60px);
  box-shadow: 0 25px 25px -15px rgba(0, 0, 0, 0.3);
  background: white;
  z-index: 3;
}
#container {
  perspective: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  width: 320px;
  height: 446px;
  background-color: #211799;
  background-image: url(https://images.pokemontcg.io/xy2/12_hires.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  box-shadow: -3px -3px 3px 0 rgba(38, 230, 247, 0.3), 
              3px 3px 3px 0 rgba(247, 89, 228, 0.3), 
              0 0 6px 2px rgba(255, 231, 89, 0.3), 
              0 35px 25px -15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 10px;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  animation: moveEffect 15s ease infinite;
}

.card:nth-of-type(1) {
}
.card:nth-of-type(2) {
  background-image: url(https://images.pokemontcg.io/bwp/BW54_hires.png);
}
.card:nth-of-type(3) {
  background-image: url(https://images.pokemontcg.io/xy2/69_hires.png);
  margin-bottom: 50px;
}


.card:before, .card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 300% 300%;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
  z-index: 1;
  animation: gradientEffect 15s ease infinite;
  background-image: linear-gradient(115deg, transparent 0%, rgb(0, 231, 255) 30%, rgb(255, 0, 231) 70%, transparent 100%);
}

.card:after {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif);
  background-size: 180%;
  mix-blend-mode: color-dodge;
  opacity: 1;
  z-index: 2;
  animation: sparkleEffect 15s ease infinite;
}


@keyframes sparkleEffect {
  0%, 5% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes gradientEffect {
  0%, 100% {
    opacity: 0;
    background-position: 0% 0%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 100% 100%;
    opacity: 0.5;
  }
  35% {
    background-position: 100% 100%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}

@keyframes moveEffect {
  0%, 100% {
    transform: none;
  }
  25% {
    transform: rotateZ(-3deg) rotateX(4deg) rotateY(9deg);
  }
  66% {
    transform: rotateZ(3deg) rotateX(9deg) rotateY(-9deg);
  }
}